
.questionSectionText{
  color: white;
  font-size: 30px;
  margin: 30px;
}.accordianSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top: 5px solid gray;
}

.accorItems{
  width: 70%;
  margin: 5px auto;
  background-color: white;
}

.title {
    width: 100%;
    background-color: #2d2c2c;
    color:white;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}
.activeTitle{
  width: 100%;
    
    color:white;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  background-color: #5a5a5a;

}
.title:hover {
    background-color: #5a5a5a;
  }

  .text {
    padding: 30px;
    background-color: white;
    display: block;
    overflow: hidden;
    color: white;
    background-color: #2d2c2c;
    font-size: 20px;
  }
  .symbol{
    font-size: 40px;
    
  }
  .symbolRotate{
    font-size: 40px;
    transform: rotate(45deg);
  } 
  /* .subscription2{
    
    margin: 30px;

  } */

  .subscription{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .subscriptionBtn{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e50815;
    text-align: center;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  .subscriptionBtn:hover{
    background-color: rgb(193,17,25);
  }